<h1>Arenas</h1>

<h2>Arenas disponíveis</h2>

<ul>
    <li>Arena Praia Sul</li>
    <li>Arena Beira Mar</li>
    <li>Arena Sunset</li>
</ul>

<br>

<a href="/admin/arenas/nova">
<button>Cadastrar nova arena</button>
</a>