<h1>{{title}}</h1>

<h2>Camisas disponíveis</h2>

<ul>
    <li>Camisa preta</li>
    <li>Camisa branca</li>
    <li>Camisa azul</li>
</ul>

<a href="/camisas/pedidos">Fazer um pedido</a>
<br>
<a href="/camisas">Voltar</a>