<h1>{{title}}</h1>

<h2>Pedido de Camisas</h2>

<form>
    <label>Modelo da camisa:</label>
    <input type="text" name="modelo">

    <br><br>

    <label>Quantidade:</label>
    <input type="number" name="quantidade">

    <br><br>

    <button type="submit">Enviar Pedido</button>
</form>

<br>
<a href="/camisas/camisas">Ver camisas</a>